{% import "macros/sidebar_nav.html" as sidebar_nav %}
<div class="sidebar__content">
    <a href="/" class="__title"><h2>{{ config.extra.page_title }}</h2></a>
    <p>
        {{ config.description }}
    </p>
    <a href="https://www.patreon.com/bePatron?u=7602281"><img class="sidebar__img" src="/patreon-medium-button.png" alt="Support me on Patreon!"></a>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="4V2DEPS7K6APC" />
        <input type="image" class="sidebar__img" src="/paypal-medium-button.png" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" class="sidebar__img" src="/paypal-medium-button.png" width="1" height="1" />
    </form>
    {% block nav_side %}
        {% include 'base/nav_side.html' %}
    {% endblock %}
</div>
